 
.containersz{
    background-color: var( --primary-color-extra-light);
color: var(--text-light);
max-width: var(--max-width);
margin: 0 auto;
padding: 20px;
border-radius: 10px;
margin-top: 50px;
}
 
.formGroupsss{
    margin-bottom: 15px;
}
.formGroupsss label {
    display: block;
    color: var(--text-light);
    margin-bottom: 5px;
  }
  .formGroupsss input,
  .formGroupsss select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color-extra-light);
    border-radius: 5px;
    background-color: var( --primary-color-light);
    color: var(--text-light);
  }
 .formGroupes{
    margin-bottom: 15px;
    margin-left: 10px;
 }