 

.auth-form {
  background-color: var( --primary-color-extra-light);
  color: var(--text-light);
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--secondary-color);
}

.auth-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-light);
}

.auth-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--primary-color-extra-light);
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-light);
}

.auth-form input:focus {
  border-color: var(--secondary-color);
  outline: none;
}

.auth-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: var(--secondary-color-dark);
}
.selected{
  width: 30%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  /* border: none; */
  border-radius: 4px;
  color: var(--white);
  /* cursor: pointer; */
  transition: background-color 0.3s ease;
  text-align: center;
}