.sectionContainere {
    padding: 2rem;
    background-color: var(--primary-color-light);
    color: var(--text-light);
    text-align: center;
    max-width: var(--max-width);
    /* margin: 0 auto; */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .name{
    margin-top: -50px;
  }
  .classImagee {
    position: relative;
    flex: 1;
    /* margin-top: -20px; */
  }
  
  .classImagee img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin-top: -145px;
  }
  
  .classImg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
  }
  
  .classImg2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48%;
  }
  
  .classContente {
    flex: 1;
    padding: 1rem;
    text-align: left;
  }
  
  .sectionHeaderrs {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
  }
  
  .classContente p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .btnn {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btnn:hover {
    background-color: var(--secondary-color-dark);
  }
  
  .bgBlure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-top: 100px;
  }
  

   
.class__content {
    padding: 2rem 0;
  }
  
  .class__content .section__header {
    text-align: left;
    max-width: 400px;
  }
  
  .class__content p {
    margin-bottom: 4rem;
    color: var(--text-light);
  }
  