/* .containerse{
   
} */
.powderList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .powderItem {
    background-color:  var(--white);
    padding: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
  }
  
  .powderImage {
    width: 80%;
    height: auto;
    border-radius: 5px;
  }